.products {
    width: 100%;
}

.products__wrapper {
    margin: 0 40px;
}

.flex {
    display: flex;
}

.products__flex {
    flex: 1;
    width: 100%;
}

.products__grid {
    max-width: 1100px;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
}

@media only screen and (min-width: 550px) and (max-width: 950px) {
    .products__grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 549px) {
    .products__grid {
        grid-template-columns: repeat(1, 1fr);
    }
}