.homeScreen {
    margin: 0;
    height: 100%;
}

.homeScreen__wrapper {
    width: 100%;
    height: 110vh;
    background-image: url("//cdn.shopify.com/s/files/1/0595/8615/0562/files/DSC_5205.jpg?v=1668036136");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.homeScreen__wrapper h1 {
    color: #fff;
}

